{{!-- <p1>Homepage</p1> --}}

    <main class="container p-0 col-12">
      
{{!-- HOMEPAGE --}}
        <form>
            <div class="form-group row">
                <label for="lpnInput" class="col-sm-2 col-form-label">LPN</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="lpnInput" placeholder="LPN">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">New Item</div>
                <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="newItemCheck">
                </div>
                </div>
                <div class="col-sm-2">Rebox</div>
                <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="reboxCheck">
                </div>
                </div>
                <div class="col-sm-2">Manual</div>
                <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="manualCheck">
                </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </main>
